.vertical-lines {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: calc(((180/780)*100%) + 10px);
    border-left: 10px solid white;
    height: 360px;
}
.vertical-lines.L2 {
    right: calc(((180/780)*100%) + 10px);
    border-right: 10px solid white;
    height: 360px;
}
