.ball {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: yellow;
    position: absolute;
    transition: top 0.02s ease 0s, left 0.02s ease 0s;
    box-shadow: inset 0px 0px 3px black;
  }
  