.container {
  height: 360px;
  width: 780px;
  background-color: black;
  border: 10px solid yellow;
  border-radius: 4px;
  margin: 20px auto;
  position: relative;
  box-shadow: inset 0px 0px 3px black;
}

